<!DOCTYPE html>
<html lang="en">

<head>

  <title>Profile</title>
  <%- include('../partials/headstyle.ejs'); -%>
</head>

<body>
  <%- include('../partials/navbar.ejs'); -%>
  <main>
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Profile
          </h1>
          <%-include ('../partials/messages.ejs') %>
          <form method='post'>
            <div class="form-group mb-2">
              <label for="name">Name</label>
              <input type="name" id="name" class="form-control" placeholder="Enter Name" value="<%= user.name %>" />
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input disabled readonly type="email" id="email" class="form-control" placeholder="Enter Email" value="<%= user.email %>" />
            </div>
            <div class="form-group mb-3">
              <label for="old-password">Current password</label>
              <input type="password" id="old-password" class="form-control" placeholder="Enter old password" />
            </div>
            <div class="input-group mb-3">

              <input type="password" class="form-control" style="margin-right:10px" id="new-password" placeholder="Enter new password" aria-label="new-password">

              <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your password" aria-label="confirm-password">
            </div>


            <button disabled id="submit_button" type="submit" class="btn btn-primary btn-block">
              Edit Profile
            </button>
          </form>

        </div>
      </div>
    </div>


  </main>
  <%- include('../partials/scripts.ejs'); -%>
  <script src="/profile.js"></script>
</body>

</html>