<!DOCTYPE html>
<html lang="en">

<head>

  <title>Profile</title>
  <%- include('../partials/headstyle.ejs'); -%>
</head>

<body>
  <%- include('../partials/navbar.ejs'); -%>
  <main>
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> Profile
          </h1>
          <%-include ('../partials/messages.ejs') %>
          <form>
            <div class="form-group mb-2">
              <label for="name">Name</label>
              <input disabled type="name" id="name" name="name" class="form-control" placeholder="Enter Name" value="<%= user.name %>" />
            </div>
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input disabled required type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="<%= user.email %>" />
            </div>


            <button disabled type="submit" class="btn btn-primary btn-block">
              Edit Profile
            </button>
          </form>

        </div>
      </div>
    </div>


  </main>
</body>

</html>